<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lista item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
<ion-list-header lines="inset">
  <ion-label>Recentes </ion-label>
  
  <ion-button (click)="ionViewWillEnter()" ><ion-icon slot="start" name="refresh" ></ion-icon></ion-button>
  
  
</ion-list-header>
<ion-item lines="none" *ngFor="let i of itensVencidos">
  <ion-avatar slot="start">
    <img  [src]="imagem" *ngIf="imagem">
  </ion-avatar>
  
  <ion-label  (click)="detalhe(i)">

    <h2>{{i.nome}}</h2>
    <h3>Data: {{i.dataVencimento}}</h3>
    <p>Quantidade:{{i.quantidade}}</p>
    
  </ion-label>
</ion-item>
</ion-list>


</ion-content>
