<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>cadastrar-Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formGroup">
    <ion-list lines="full" class="ion-no-margin">
      <ion-list-header lines="full">
        <ion-label>
          Login
        </ion-label>
      </ion-list-header>
      <!-- Lembrar de colocar uma lista suspensa em grupos com dois grupos pré selecionado-->
      <ion-item>
        <ion-label position="fixed">Grupo</ion-label>
        <ion-input type="grupo" placeholder="" formControlName="grupo"></ion-input>
      </ion-item>

      <img class="img" src="assets/img/email.png" />
      <ion-item>
        <ion-label position="fixed">E-mail</ion-label>
        <ion-input type="username" placeholder="Escreva seu E-mail" formControlName="username"></ion-input>
      </ion-item>

      <img class="img" src="assets/img/cadeado.png" />
      <ion-item>
        <ion-label position="fixed"> Senha</ion-label>
        <ion-input type="password" placeholder="Insira sua Senha" formControlName="password"></ion-input>
      </ion-item>

      <img class="img" src="assets/img/identificacao.png" />
      <ion-item>
        <ion-label position="fixed">Nome</ion-label>
        <ion-input type="nome" placeholder="Escreva sua Nome" formControlName="nome"></ion-input>
      </ion-item>

      <img class="img" src="assets/img/deficientes.png" />
      <ion-item>
        <ion-label position="fixed">Deficiencia</ion-label>
        <ion-input type="deficiencia" placeholder="Escreva sua deficiencia" formControlName="deficiencia"></ion-input>
      </ion-item>


      <img class="img" src="assets/img/carteira-de-identidade.png" />
      <ion-item>
        <ion-label position="fixed">CPF</ion-label>
        <ion-input type="cpf" placeholder="Escreva sua CPF" formControlName="cpf"></ion-input>
      </ion-item>


      <img class="img" src="assets/img/localizacao.png" />
      <ion-item>
        <ion-label position="fixed">CEP</ion-label>
        <ion-input type="cep" placeholder="Escreva sua CEP" formControlName="cep"></ion-input>
      </ion-item>

      <img class="img" src="assets/img/cidade.png" />
      <ion-item>
        <ion-label position="fixed">Complemento</ion-label>
        <ion-input type="endereco" placeholder="Escreva o de sua localizacao Complemento" formControlName="endereco"></ion-input>
      </ion-item>
    </ion-list>


    <ion-button class="clienteButton" expand="block" (click)="cadastrarUsers()">Cadastrar</ion-button>
  </form>
</ion-content>