<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lista de interpretes</ion-title>
  </ion-toolbar>
  <form>
    <ion-searchbar (ionChange)="pesquisar()" #nome ></ion-searchbar>
  </form>
</ion-header>

<ion-content>
<ion-list>
<ion-list-header lines="inset">
  <ion-label color="dark">Mais recentes </ion-label>
  
  <ion-button (click)="ionViewWillEnter()" ><ion-icon slot="start" name="refresh" ></ion-icon></ion-button>
  
  
</ion-list-header>
<ion-item  id="item" lines="none" *ngFor="let i of interpretes">
  <ion-avatar slot="start">
    <img  [src]="i.imagem">
  </ion-avatar>
  <!-- src="{{downloadImage()}}"> -->
  
  <ion-label (click)="detalhe(i)">

   
    <h2>{{i.nome}}</h2>
    <h3>CEP: {{i.cep}}</h3>
    <h3>Cidade:{{i.cidade}} </h3>
    <h3>Email: {{i.username}}</h3>
    <h3>Estado: {{i.estado}}</h3>
    <p>Status: {{i.status}}</p>
 
    
    
  </ion-label>
</ion-item>
</ion-list>


</ion-content>

