<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Clientes-detalhe</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <img [src]="imagem" *ngIf="imagem" />

  </ion-card>

  <!-- Remover após ser implemntado "fotos"
    <ion-button expand="block" (click)="foto()" color="success">
      <ion-icon name="camera-outline"></ion-icon>
    </ion-button>
    -->
  <form>
    <ion-list>
      <ion-badge color="success">Online</ion-badge>



      <ion-item>
        <ion-label>CEP: </ion-label>
        <ion-input readonly="readonly"> {{cliente.cep}} </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>NOME: </ion-label>
        <ion-input readonly="readonly"> {{cliente.nome}} </ion-input>
      </ion-item>

      <ion-item>
        <ion-label id="email">E-MAIL:</ion-label>
        <ion-input readonly="readonly"> {{cliente.username}} </ion-input>
      </ion-item>



      <ion-item>
        <ion-label>ENDEREÇO:</ion-label>
        <ion-input readonly="readonly"> {{cliente.endereco}} </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>DEFICIÊNCIA:</ion-label>
        <ion-input readonly="readonly"> {{cliente.deficiencia}} </ion-input>
      </ion-item>


    </ion-list>




    <!--<ion-button expand="block" (click)="excluir(cliente)" color="danger">
  <ion-icon name="trash-outline"></ion-icon>
</ion-button>
<ion-button expand="block" (click)="atualizar(cliente)" color="primary">
  <ion-icon name="clipboard-outline"></ion-icon>
</ion-button>
-->
  </form>
  <!-- Botões-->
  <section class="buttonsContact">
    <header id="contato">Contatos</header>

    <ion-button size="default" (click)="chat()">
      <ion-icon name="chatbox-ellipses-outline"></ion-icon>
    </ion-button>

    <ion-button size="default" color="danger">
      <ion-icon name="videocam-outline"></ion-icon>
    </ion-button>

    <ion-button size="default" color="success" (click)="calendario()">
      <ion-icon name="calendar"></ion-icon>
    </ion-button>

  </section>


</ion-content>