<ion-header>

</ion-header>
<img class="logo" src="assets/img/logo2.png" width="1500px" height="250px" />
<ion-content>
  <form [formGroup]="formGroup">
    <ion-list lines="full" class="ion-no-margin">
      <ion-list-header lines="full">


        <ion-label>
          Comunique-se com o mundo!
        </ion-label>
      </ion-list-header>

      <img id="img" src="assets/img/user.png" />
      <ion-item>
        <ion-input placeholder="Insira seu e-mail" formControlName="username"></ion-input>
      </ion-item>

      <img id="img" src="assets/img/cadeado.png" />
      <ion-item>
        <ion-input type="password" placeholder="********" formControlName="password"></ion-input>
      </ion-item>

    </ion-list>

    <ion-button expand="block"  (click)="autenticar()">
     Entrar
    </ion-button>

    <ion-button expand="block"  size="small"  (click)="redirecionar()" color="success">Ainda não tem Cadastro?</ion-button>

    <!--<ion-button expand="block"  size="small"  (click)="redirecionar2()" color="danger">Quer ser um interprete?</ion-button>
    -->
    </form>
</ion-content>