.person-circle-outline {
    color: rgb(0, 225, 255);
}

#img {
    width: auto;
    height: 30px;
    overflow: hidden;
    float: left;
    padding-left: 6px;
}

.logo {
    image-rendering: auto;
}

.user {
    height: 40px;
    width: 100px;
    color: rgba(3, 45, 100, 0.74);
    background-color: white;
}
.fundo {
    background-color: white;
    color: black;
    width: 9000px;
}

.fundo2 {
    background-color: white;
    color: black;
}

#slogan {
    text-align: center;
    text-size-adjust: 40px;
}
--ion-item-background {
    background-color: yellow;
    color: yellow;
}

#esqueceuSenha {
    text-align: center;
   align-content: 40px;
    height: 30px;
}

    

