<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formGroup">
    <ion-list lines="full" class="ion-no-margin">
      <ion-list-header lines="full">
        <ion-label>
         
        </ion-label>
      </ion-list-header>

      <ion-item>
        
        <img src="assets/img/user.png" width="30px"/>
        <!-- <ion-label position="fixed"> E-mail</ion-label> -->
        <ion-input placeholder="Insira seu E-mail" formControlName="username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="locked" class="lock-closed"></ion-icon>
        <!-- <ion-label position="fixed"> Senha</ion-label> -->
        <img src="assets/lock.png" width="40px"/>
        
        <ion-input type="password" placeholder="********" formControlName="password"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="block" (click)="autenticar()">
      <ion-icon name="log-in-sharp"></ion-icon>
    </ion-button>
    <ion-button expand="block" (click)="redirecionar()" color="warning">Quer ser cliente?</ion-button>
    <ion-button expand="block" (click)="redirecionar2()" color="danger">Quer ser um interprete?</ion-button>
  </form>
</ion-content>