.person-circle-outline{
   
    color: rgb(0, 225, 255);

}

.ock-closed{
    color: rgb(0, 26, 255);
}
#img{
    width: auto;
    height: 30px;
    overflow: hidden;
    float: left;
    padding-left: 6px;
}

.logo{
    float: left;
}