<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Clientes</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder=" Procurar" color="light"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
<ion-list-header lines="inset">
  <ion-label>Mais recentes </ion-label>
  
  <ion-button (click)="ionViewWillEnter()" ><ion-icon slot="start" name="refresh" ></ion-icon></ion-button>
  
  
</ion-list-header>
<ion-item lines="none" *ngFor="let i of clientes" color="">
  
  <ion-avatar id="img"slot="start">
    <img id="img" [src]="imagem" *ngIf="imagem">
  </ion-avatar>
  
  <ion-label (click)="detalhe(i)">
    
    <h2>{{i.nome}}</h2>
    <h4>Endereço: {{i.endereco}}</h4>
    <h5>Deficiência: {{i.deficiencia}}</h5>
    <p>E-MAIL: {{i.username}}</p>
  
   
    
    
  </ion-label>
</ion-item>


</ion-list>



</ion-content>

